{% extends "base.html" %}
{% load staticfiles %}

{% block wiki_script %}
    <script src="{% static 'wiki-tree.js' %}"></script>
    <script src="{% static 'wiki-diff.js' %}"></script>

    <script>
        $(function ()
        {
            $.getJSON('{{ menu_url }}', function(json)
            {
                buildtree($('#wiki-menu'), json, '{{ wiki.slug }}');
            });

            $.getJSON('/diff/{{ wiki.slug }}', function(json)
            {
                builddiff($('#history'), json);
            });

            $('#open-diff').click(function()
            {
                $('#wiki_page').hide('slow');
                $('#wiki_diff').show('slow');
            });

            $('#close-diff').click(function()
            {
                $('#wiki_diff').hide('slow');
                $('#wiki_page').show('slow');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav sidebar-nav-fixed">
                    <ul class="nav nav-list">
                        <li><a href="/edit/{{ wiki.slug }}"><i class="icon-plus-sign"></i> Add page</a></li>
                        <li class="divider"></li>
                        <li class="nav-header"><a href="/wiki/{{ wiki.slug }}"><i class="icon-folder-open"></i> {{ wiki.name|title }}</a></li>
                        <ul class="nav nav-list" id="wiki-menu"></ul>
                    </ul>
                </div>
            </div>

            <div class="span9">
                    <div class="pull-right">
                        <p><a href="#" id="open-diff"><i class="icon-list-alt"></i> history</a></p>

                        {% if edit_url %}
                            <p><a href="{{ edit_url }}"><i class="icon-edit"></i> edit</a></p>
                        {% endif %}
                    </div>

                <h1>{% filter title %}{% firstof page_meta.title.0 page_name wiki.name %}{% endfilter %}</h1>

                <hr/>

                <div id="wiki_page">
                    {% block wiki_page %}
                    {% endblock %}
                </div>

                <div id="wiki_diff" class="hide">
                    <h3>{{ wiki.name|title }} history</h3>

                    <table class="table table-stripped table-bordered table-hover">
                        <thead>
                            <tr><th>Message</th><th>Author</th><th>Date</th></tr>
                        </thead>
                        <tbody id="history">
                        </tbody>
                    </table>

                    <p style="text-align: right;"><a href="#" class="btn" id="close-diff">Close</a></p>

                    <hr/>

                    <pre class="hide codehilite" id="diff"></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
