{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block head_js %}
    <script type="application/javascript">
        var selected = [];

        $(function()
        {
            $('.filemanager-selected-checkbox').change(function()
            {
                // clear the list
                $('.modal-documents-list').html('');
                selected = [];

                // retrieve all checked files
                var files = $('.filemanager-selected-checkbox:checked').parent();

                // for each files
                files.each(function()
                {
                    var filename = $('.filemanager-selected-filename', $(this)).val();
                    var url = $('.filemanager-selected-url', $(this)).val();

                    // and add it to the list
                    var option = $('<option/>', { 'text': filename });
                    $('.modal-documents-list').append(option);
                    selected.push(url);
                });
            });

            $('.handle-contextual').bind('contextmenu', function(event)
            {
                $('#modal-upload-doc').modal('show');
                return false;
            });
        });
    </script>
{% endblock %}

{% block modal_area %}
    <div id="modal-upload-doc" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Upload a document" %}</h3>
        </div>

        <div class="modal-body">
            <form id="form-upload" class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url filemanager-upload wiki.obj.slug %}">
                {% csrf_token %}

                <div class="control-group">
                    <label class="control-label" for="form-upload-path">
                        {% trans "File path" %}
                    </label>

                    <div class="controls">
                        <input type="text" class="input-block-level" id="form-upload-path" name="{{ wiki.forms.upload.path.name }}" placeholder="{% trans "File path" %}" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form-upload-doc">
                        {% trans "Select file" %}
                    </label>

                    <div class="controls">
                        <input type="file" id="form-upload-doc" name="{{ wiki.forms.upload.doc.name }}" />
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
                <button class="btn btn-primary" onclick="$('#form-upload').submit();">
                    <i class="icon-upload icon-white"></i>
                    {% trans "Upload" %}
                </button>

                <button class="btn" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i>
                    {% trans "Cancel" %}
                </button>
        </div>
    </div>

    <div id="modal-remove-doc" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Remove documents" %}</h3>
        </div>

        <div class="modal-body">
            <form id="form-remove-doc">
                <p>{% blocktrans %}The following documents will be deleted :{% endblocktrans %}</p>

                <p>
                    <select class="modal-documents-list">
                    </select>
                </p>

                <p>{% trans "Are you sure ?" %}</p>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-danger" onclick="Dajaxice.pompadour_wiki.apps.filemanager.remove_doc(Dajax.process, {'wiki': '{{ wiki.obj.slug }}', 'files': selected});">
                <i class="icon-trash icon-white"></i>
                {% trans "Yes, I'm sure!" %}
            </button>

            <button class="btn" data-dismiss="modal" aria-hidden="true">
                <i class="icon-remove"></i>
                {% trans "Cancel" %}
            </button>
        </div>
    </div>

    <div id="modal-attach-doc" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Attach documents to a page" %}</h3>
        </div>

        <div class="modal-body">
            <form id="form-attach-doc">
                <p>{% blocktrans %}The following documents will be attached :{% endblocktrans %}</p>

                <p>
                    <select class="modal-documents-list">
                    </select>
                </p>

                <p><input id="form-attach-page" type="text" placeholder="{% trans "Wiki page" %}" /></p>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" onclick="Dajaxice.pompadour_wiki.apps.filemanager.attach_doc(Dajax.process, {'wiki': '{{ wiki.obj.slug }}', 'files': selected, 'page': $('#form-attach-page').val()});" data-dismiss="modal">
                <i class="icon-share icon-white"></i>
                {% trans "Attach" %}
            </button>

            <button class="btn" data-dismiss="modal" aria-hidden="true">
                <i class="icon-remove"></i>
                {% trans "Cancel" %}
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <!-- Wiki page body -->
        <div class="wiki-pane-content">
            <div class="wiki-buttonbox">
                <a class="btn" href="{% url view-page wiki.obj.slug '' %}">
                    <i class="icon-hand-right"></i>
                    {% trans "Go back to wiki" %}
                </a>
                <a class="btn" href="#modal-upload-doc" data-toggle="modal">
                    <i class="icon-upload"></i>
                    {% trans "Upload a document" %}
                </a>
                <a class="btn" href="#" onclick="$('.filemanager-selected-checkbox').click(); return false;">
                    <i class="icon-ok-circle"></i>
                    {% trans "Select/Deselect all" %}
                </a>
                <a class="btn" href="#modal-remove-doc" data-toggle="modal">
                    <i class="icon-trash"></i>
                    {% trans "Remove" %}
                </a>
                <a class="btn" href="#modal-attach-doc" data-toggle="modal">
                    <i class="icon-share"></i>
                    {% trans "Attach to a page" %}
                </a>
            </div>

            <ul class="breadcrumb pompadour-noprint">
                {% for breadcrumb in wiki.breadcrumbs %}
                    {% if forloop.first %}
                        <li>
                            <a href="{% url filemanager-index wiki.obj.slug "" %}">{{ wiki.obj.name|title }}</a>
                            <span class="divider">/</span>
                        </li>
                    {% endif %}

                    {% if not forloop.last %}
                        <li>
                            <a href="{% url filemanager-view wiki.obj.slug breadcrumb.1 %}">{{ breadcrumb.0|title }}</a>
                            <span class="divider">/</span>
                        </li>
                    {% else %}
                        <li class="active">{{ breadcrumb.0|title }}</li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="thumbnails">
                {% for f in wiki.files %}
                    <li class="filemanager-thumbnail">
                        <div class="filemanager-file">
                            <form class="filemanager-selected">
                                <input class="filemanager-selected-checkbox" type="checkbox" />
                                <input class="filemanager-selected-filename" type="hidden" value="{{ f.name }}" />
                                <input class="filemanager-selected-url" type="hidden" value="{{ f.url }}" />
                            </form>

                            <a class="handle-contextual thumbnail" href="{% url filemanager-view wiki.obj.slug f.url %}">
                                <img src="{% url filemanager-get-type f.mimetype %}" alt="" />
                            </a>
                        </div>

                        <p>{{ f.name }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--/ Wiki page body -->
    </div>
{% endblock %}