{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block head_js %}
    <script type="application/javascript" src="{% static 'js/jquery/jquery.dataTables.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery/jquery.dataTables-bootstrap.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/wiki-view.js' %}"></script>
    <script type="application/javascript">
        function show_diff(parent_sha, sha)
        {
            Dajaxice.pompadour_wiki.apps.wiki.show_diff(Dajax.process, {
                'sha': sha,
                'parent_sha': parent_sha,
                'wiki': '{{ wiki.obj.slug }}'
            });

            return false;
        }

        $(function()
        {
            $('#wiki-history').dataTable({
                'bSort': false,
                'sPaginationType': 'bootstrap'
            });

            $('#open-diff').click(function()
            {
                $('.wiki-pane-content').hide('slow');
                $('.wiki-pane-diff').show('slow');
            });

            $('#close-diff').click(function()
            {
                $('.wiki-pane-diff').hide('slow');
                $('.wiki-pane-content').show('slow');
            });
        });
    </script>

    {% block head2_js %}
    {% endblock %}
{% endblock %}

{% block modal_area %}
    {% if wiki.urls.remove %}
        <div id="modal-del-page" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{% trans "Remove page" %}</h3>
            </div>

            <div class="modal-body">
                <p>{% blocktrans %}Are you sure you want to delete this page ?{% endblocktrans %}</p>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger" href="{{ wiki.urls.remove }}"><i class="icon-trash icon-white"></i> {% trans "Yes, I'm sure!" %}</a>
                <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> {% trans "Cancel" %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <!-- Wiki page body -->
        <div class="wiki-header">
            <div class="pull-right pompadour-noprint">
                <p>
                    <a id="open-diff"><i class="icon-list-alt"></i> {% trans "history" %}</a>

                    {% if wiki.urls.remove %}
                        <a href="#modal-del-page" data-toggle="modal"><i class="icon-trash"></i> {% trans "remove" %}</a>
                    {% endif %}

                    {% if wiki.urls.edit %}
                        <a href="{{ wiki.urls.edit }}"><i class="icon-edit"></i> {% trans "edit" %}</a>
                    {% endif %}
                </p>
            </div>

            <h1><a href="{% url view-page wiki.obj.slug wiki.path %}">{% filter title %}{% firstof wiki.meta.title.0 wiki.name wiki.obj.name %}{% endfilter %}</a></h1>
        </div>

        <div class="wiki-pane-body">
            {% if wiki.locked %}
                <div class="alert">
                    <span class="label label-warning">{% trans "Warning" %}</span>
                    {% trans "This page is being edited by" %}
                    <a href="mailto:{{ wiki.lock.user.email }}">{{ wiki.lock.user.first_name }} {{ wiki.lock.user.last_name }}</a>.
                </div>
            {% endif %}

            <div class="wiki-pane-content">
                {% block wiki_body %}
                {% endblock %}
            </div>

            <div class="wiki-pane-diff hide">
                <h3>{% trans "Wiki history" %}</h3>

                <table id="wiki-history" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr><th>{% trans "Message" %}</th><th>{% trans "Author" %}</th><th>{% trans "Date" %}</th><th><i class="icon-eye-open"></i> {% trans "View" %}</tr>
                    </thead>
                    <tbody>
                        {% for diff in wiki.history.diffs %}
                            <tr>
                                <td>{{ diff.msg }}</td><td>{{ diff.author }}</td><td>{{ diff.date|naturaltime }}</td>
                                <td><a href="#" onclick="show_diff('{{ diff.parent_sha }}', '{{ diff.sha }}');"><i class="icon-eye-open"></i> {% trans "View" %}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <p style="text-align: right;"><a href="#" class="btn" id="close-diff">{% trans "Close" %}</a></p>

                <hr/>

                <div id="diff"></div>
            </div>
        </div>
        <!--/ Wiki page body -->
    </div>
{% endblock %}
